{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<main class="page">
    <section class="page-content page-content--centered">
        <div class="js-maker-embed" data-maker-embed-id="55207" data-maker-type="socialstory" style="height: auto; width: 100%;" data-no-attribution="true" data-no-title="true" data-no-cover="false" data-no-share="true" data-no-tags="true" data-story-nav="false" data-maker-share-story="false" data-pass-params="false" data-experiments="false" data-theme-id="68"></div>
        <script async src="https://app.maker.co/assets/social_stories/55207/embeds/embed_base.js"></script>
    </section>
</main>

{{/partial}}
{{> layout/base}}
