{{#if banners.bottom}}
    {{#if settings.data_tag_enabled}}
        <div class="banners" data-banner-location="bottom">
            {{#each (limit banners.bottom_metadata 1)}}
                <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                    <div data-event-type="promotion-click">
                        {{{this.content}}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <div class="banners" data-banner-location="bottom">
            <div class="banner">
                {{{limit banners.bottom 1}}}
            </div>
        </div>
    {{/if}}

{{/if}}
<footer class="footer" role="contentinfo">
    <div class="container">
        {{#if theme_settings.social_icon_placement_bottom '!==' 'bottom_none'}}
            <article class="footer-info-col
                footer-info-col--social
                footer-info-col--{{#if theme_settings.social_icon_placement_bottom '===' 'bottom_left'}}left{{else}}right{{/if}}"
                data-section-type="footer-webPages">
                    <h5 class="footer-info-heading">{{lang 'social.connect'}}</h5>
                    {{> components/common/social-links}}
            </article>
        {{/if}}
        <section class="footer-info">
            <article class="footer-info-col footer-info-col--small" data-section-type="footer-categories">
                <h5 class="footer-info-heading">Contact</h5>
                <ul class="footer-info-list">
                    <li>
                        <a href="/#">Stylist Chat</a>
                    </li>
                    <li>
                        <a href="/consult-a-stylist">Consult a Stylist</a>
                    </li>
                    <li>
                        <a href="/contact-us">Contact Us</a>
                    </li>
                    <li>
                        <a href="/store-locator">Retailers</a>
                    </li>
                </ul>
            </article>

            <article class="footer-info-col footer-info-col--small" data-section-type="footer-categories">
                <h5 class="footer-info-heading">Assistance</h5>
                <ul class="footer-info-list">
                    <li>
                        <a href="/assistance/#track-your-order">Track Your Order</a>
                    </li>
                    <li>
                        <a href="/assistance/#shipping">Shipping</a>
                    </li>
                    <li>
                        <a href="/assistance/#exchanges-and-returns">Exchanges &amp; Returns</a>
                    </li>
                    <li>
                        <a href="/assistance/#faqs">FAQs</a>
                    </li>
                    <li>
                        <a href="/assistance/#care-and-repair">Care &amp; Repair</a>
                    </li>
                </ul>
            </article>

            <article class="footer-info-col footer-info-col--small" data-section-type="footer-categories">
                <h5 class="footer-info-heading">Services</h5>
                <ul class="footer-info-list">
                    <li>
                        <a href="/#">Size Guide</a>
                    </li>
                </ul>
            </article>

            <article class="footer-info-col footer-info-col--small" data-section-type="footer-categories">
                <h5 class="footer-info-heading">Our Company</h5>
                <ul class="footer-info-list">
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/legal/#terms-of-use">Terms &amp; Conditions</a>
                    </li>
                    <li>
                        <a href="/legal/#privacy-policy">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="/accessibility-statement">Accessibility Statement</a>
                    </li>
                </ul>
            </article>

            <article class="footer-info-col" data-section-type="newsletterSubscription">
                {{#if settings.show_newsletter_box}}
                    {{> components/common/subscription-form}}
                {{/if}}
                <h5 class="footer-info-heading" style="margin-top: 0">Follow Us</h5>
                <ul class="socialLinks socialLinks--alt">
                    <li class="socialLinks-item">
                        <a class="icon icon--facebook" href="https://www.facebook.com/IppolitaJewelry/" target="_blank">
                            <svg><use xlink:href="#icon-facebook"></use></svg>
                        </a>
                    </li>
                    <li class="socialLinks-item">
                        <a class="icon icon--instagram" href="https://www.instagram.com/ippolita/" target="_blank">
                            <svg><use xlink:href="#icon-instagram"></use></svg>
                        </a>
                    </li>
                </ul>
                {{> components/common/payment-icons}}
            </article>
        </section>
        {{#if theme_settings.geotrust_ssl_common_name}}
            <div class="footer-geotrust-ssl-seal">
                {{> components/common/geotrust-ssl-seal}}
            </div>
        {{/if}}
        {{#if theme_settings.show_copyright_footer}}
            <div class="footer-copyright center">
                <p class="powered-by">&copy; {{moment format="YYYY"}} {{settings.store_name}} </p>
            </div>
        {{/if}}
    </div>
</footer>

<script type="text/javascript">
    configureSearchActionMobile();
    configureSearchActionDesktop();
    cleanProductNames();

    // RUNS ONLY ON HOME PAGE
    function configureClearHeader() {
        var header = document.querySelector("header");
        var targetNavItems = document.querySelectorAll(".navPages-action.has-subMenu");
        var quickSearchAction = document.querySelector(".navUser-action--quickSearch");
        var quickSearchDropdown = document.querySelector(".dropdown--quickSearch");
        var activeNavItem = null;

        // initialize header state
        if (window.scrollY == 0) {
            header.classList.add("header-clear");
        }

        // update header state on scroll
        window.onscroll = function() {
            if (window.scrollY == 0) {
                header.classList.add("header-clear");

                if (activeNavItem == null) {
                    header.classList.add("header-clear");
                } else {
                    header.classList.remove("header-clear");
                }
            } else {
                header.classList.remove("header-clear");
                header.style.backgroundColor = "white";
            }
        };

        // update header state on nav item click
        for (var i = 0; i < targetNavItems.length; i++) {
            targetNavItems[i].onclick = function(e) {
                if (activeNavItem == null) {
                    activeNavItem = this;

                    if (window.scrollY == 0) {
                        header.classList.remove("header-clear");
                    }
                } else if (activeNavItem == this) {
                    activeNavItem = null;

                    if (window.scrollY == 0) {
                        header.classList.add("header-clear");
                    }
                } else {
                    if (activeNavItem == quickSearchAction) {
                        quickSearchDropdown.classList.remove("is-open");
                    }

                    activeNavItem = this;
                }
            }
        }

        // update header state on search action click
        quickSearchAction.onclick = function(e) {
            if (activeNavItem == null) {
                activeNavItem = this;

                if (window.scrollY == 0) {
                    header.classList.remove("header-clear");
                }
            } else if (activeNavItem == this) {
                activeNavItem = null;

                if (window.scrollY == 0) {
                    header.classList.add("header-clear");
                }
            } else {
                activeNavItem.click();

                header.classList.remove("header-clear");

                activeNavItem = this;
            }
        }
    }

    function configureSearchActionMobile() {
        var header = document.querySelector("header");
        var navPages = document.querySelector(".navPages-container");
        var burgerAction = document.querySelector(".mobileMenu-toggle");
        var searchAction = document.querySelector(".mobileMenu-search");
        var quickSearch = document.querySelector(".navPages-quickSearch");
        var quickSearchInput = document.querySelector(".navPages-quickSearch #search_query");

        // hide quicksearch on burger click
        burgerAction.addEventListener("click", function(){
            if (quickSearch.style.display === "block") {
                header.classList.remove("is-open");
                navPages.classList.remove("is-open");
                quickSearch.style.display = "none";
            }
        });

        // toggle quicksearch and focus on search input on search click
        searchAction.addEventListener("click", function(){
            if (quickSearch.style.display === "" || quickSearch.style.display === "none") {
                header.classList.add("is-open");
                navPages.classList.add("is-open");
                burgerAction.classList.remove("is-open");
                quickSearch.style.display = "block";

                // focus on search input
                setTimeout(function () {
                    quickSearchInput.focus();
                }, 100);
            } else {
                header.classList.remove("is-open");
                navPages.classList.remove("is-open");
                quickSearch.style.display = "none";
            }
        });
    }

    function configureSearchActionDesktop() {
        var quickSearchAction = document.querySelector(".navUser-action--quickSearch");
        var quickSearchInput = document.querySelector(".dropdown--quickSearch #search_query");

        // focus on search input on search click
        quickSearchAction.addEventListener("click", function() {
            setTimeout(function () {
                quickSearchInput.focus();
            }, 100);
        });

         // document.addEventListener("click", function(e) {
         //    if (e.target && e.target.className == "quickSearchResults") {
         //        quickSearchAction.click();
         //    }
         // });
    }

    function cleanProductNames() {
        var productTitles = document.querySelectorAll(".card-title > a");

        // clean product titles
        if (productTitles.length) {
            for (var i = 0; i < productTitles.length; i++) {
                var ogTitle = productTitles[i].innerHTML;
                
                if (ogTitle.includes(" (")) {
                    var cleanTitle = ogTitle.substring(0, ogTitle.indexOf(' ('));

                    productTitles[i].innerHTML = cleanTitle;
                }
            }
        }
    }
</script>
