<nav class="navPages">
    <div class="navPages-quickSearch">
        {{> components/common/quick-search}}
    </div>
    <ul class="navPages-list{{#if theme_settings.navigation_design '!==' 'simple'}} navPages-list-depth-max{{/if}}">
        <li class="navPages-item navPages-item-mobile">
            <div class="navPages-action">Jewelry
                <i class="icon navPages-action-moreIcon">
                    <svg><use xlink:href="#icon-chevron-down"></use></svg>
                </i>
            </div>
            <div class="navPage-subMenu" data-index="0">
                <ul class="navPage-subMenu-list">
                    <li class="navPage-subMenu-header navPages-action">
                        <i class="icon navPages-action-backIcon">
                            <svg><use xlink:href="#icon-chevron-left"></use></svg>
                        </i>
                        Jewelry
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/jewelry/category/earrings/">Earrings</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/jewelry/category/bracelets/">Bracelets</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/jewelry/category/necklaces/">Necklaces</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/jewelry/category/rings/">Rings</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/jewelry/category/charms/">Charms</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/jewelry/category/">View All Jewelry</a>
                    </li>
                    <li class="navPage-subMenu-trigger navPages-action" data-index="1">
                        18K Gold Collections
                        <i class="icon">
                            <svg><use xlink:href="#icon-chevron-right"></use></svg>
                        </i>
                    </li>
                    <li class="navPage-subMenu-trigger navPages-action" data-index="2">
                        925 Silver Collections
                        <i class="icon">
                            <svg><use xlink:href="#icon-chevron-right"></use></svg>
                        </i>
                    </li>
                    <li class="navPage-subMenu-trigger navPages-action" data-index="3">
                        Curated Edits
                        <i class="icon">
                            <svg><use xlink:href="#icon-chevron-right"></use></svg>
                        </i>
                    </li>
                </ul>
            </div>
            <div class="navPage-subMenu" data-index="1">
                <ul class="navPage-subMenu-list">
                    <li class="navPage-subMenu-header navPages-action">
                        <i class="icon navPages-action-backIcon">
                            <svg><use xlink:href="#icon-chevron-left"></use></svg>
                        </i>
                        18K Gold Collections
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/collections/gold-classico/">Classico</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/collections/gold-stardust/">Stardust</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/collections/gold-lollipop/">Lollipop&reg;</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/collections/gold-rock-candy/">Rock Candy&reg;</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/collections/polished-rock-candy/">Polished Rock Candy</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/collections/gold-carnevale/">Carnevale</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/collections/nova/">Nova</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/collections/chimera/">Chimera</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/collections/gold-luce/">Luce</a>
                    </li>
                </ul>
            </div>
            <div class="navPage-subMenu" data-index="2">
                <ul class="navPage-subMenu-list">
                    <li class="navPage-subMenu-header navPages-action">
                        <i class="icon navPages-action-backIcon">
                            <svg><use xlink:href="#icon-chevron-left"></use></svg>
                        </i>
                        925 Silver Collections
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/collections/silver-classico/">Classico</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/collections/silver-stardust/">Stardust</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/collections/silver-lollipop/">Lollipop&reg;</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/collections/silver-rock-candy/">Rock Candy&reg;</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/collections/wonderland/">Wonderland</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/collections/chimera/">Chimera</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/collections/silver-carnevale/">Carnevale</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/collections/ondine/">Ondine</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/collections/silver-luce/">Luce</a>
                    </li>
                </ul>
            </div>
            <div class="navPage-subMenu" data-index="3">
                <ul class="navPage-subMenu-list">
                    <li class="navPage-subMenu-header navPages-action">
                        <i class="icon navPages-action-backIcon">
                            <svg><use xlink:href="#icon-chevron-left"></use></svg>
                        </i>
                        Curated Edits
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/ippolita-classics/">IPPOLITA Classics</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/search-results/?lp=flower">Flower</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/20-anniversario/">20 Icons</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/search-results/?lp=chains">Statement Chains</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/search-results/?lp=ring-stack">Ring Stack</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/search-results/?lp=ear-stack">Ear Stack</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/inspiration/signature-styling/">Signature Styling</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/shop-the-look/">Shop The Look</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/inspiration/sculptural-metal/">Sculptural Metal</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/the-anniversario-stack-series/">Signature Stacks</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="navPages-item navPages-item-desktop">
            <a class="navPages-action has-subMenu" href="/jewelry/category/">
                <div>Jewelry</div>
                <i class="icon navPages-action-moreIcon" aria-hidden="true">
                    <svg><use xlink:href="#icon-chevron-down"></use></svg>
                </i>
            </a>
            <div class="navPage-subMenu">
                <ul class="navPage-subMenu-list">
                    <li class="navPage-subMenu-item selected" data-index="0"><div>Category</div></li>
                    <li class="navPage-subMenu-item" data-index="1"><div>18K Gold</div></li>
                    <li class="navPage-subMenu-item" data-index="2"><div>925 Silver</div></li>
                    <li class="navPage-subMenu-item" data-index="3"><div>Curated Edits</div></li>
                </ul>
                <div class="navPage-subMenu-content">
                    <div class="navPage-subMenu-content-tab" data-index="0">
                        <div>
                            <a href="/jewelry/category/earrings">
                                <img src="/content/assets/nav/earrings.png" />
                                <div>Earrings</div>
                            </a>
                        </div>
                        <div>
                            <a href="/jewelry/category/necklaces">
                                <img src="/content/assets/nav/necklaces.png" />
                                <div>Necklaces</div>
                            </a>
                        </div>
                        <div>
                            <a href="/jewelry/category/bracelets">
                                <img src="/content/assets/nav/bracelets.png" />
                                <div>Bracelets</div>
                            </a>
                        </div>
                        <div>
                            <a href="/jewelry/category/rings">
                                <img src="/content/assets/nav/rings.png" />
                                <div>Rings</div>
                            </a>
                        </div>
                        <div>
                            <a href="/jewelry/category/charms">
                                <img src="/content/assets/nav/charms.png" />
                                <div>Charms</div>
                            </a>
                        </div>
                    </div>
                    <div class="navPage-subMenu-content-tab" data-index="1" style="position:relative;">
                        <div class="navPage-subMenu-content-tab-1">
                            <a href="/collections/gold-classico/">
                                <img src="/content/assets/nav/gold-classico.png" />
                                <div>Classico</div>
                            </a>
                        </div>
                        <div class="navPage-subMenu-content-tab-1">
                            <a href="/collections/gold-stardust/">
                                <img src="/content/assets/nav/gold-stardust.png" />
                                <div>Stardust</div>
                            </a>
                        </div>
                        <div class="navPage-subMenu-content-tab-1">
                            <a href="/collections/gold-lollipop/">
                                <img src="/content/assets/nav/gold-lollipop.png" />
                                <div>Lollipop&reg;</div>
                            </a>
                        </div>
                        <div class="navPage-subMenu-content-tab-1">
                            <a href="/collections/gold-rock-candy/">
                                <img src="/content/assets/nav/gold-rock-candy.png" />
                                <div>Rock Candy&reg;</div>
                            </a>
                        </div>
                        <i class="icon icon-chevron-right" aria-hidden="true">
                            <svg><use xlink:href="#icon-chevron-right"></use></svg>
                        </i>
                        <div>
                            <a href="/collections/polished-rock-candy/">
                                <img src="/content/assets/nav/polished-rock-candy.png" />
                                <div>Polished Rock Candy</div>
                            </a>
                        </div>
                        <i class="icon icon-chevron-left" aria-hidden="true">
                            <svg><use xlink:href="#icon-chevron-left"></use></svg>
                        </i>
                        <div class="navPage-subMenu-content-tab-2">
                            <a href="/collections/gold-carnevale/">
                                <img src="/content/assets/nav/gold-carnevale.png" />
                                <div>Carnevale</div>
                            </a>
                        </div>
                        <div class="navPage-subMenu-content-tab-2">
                            <a href="/collections/nova/">
                                <img src="/content/assets/nav/gold-nova.png" />
                                <div>Nova</div>
                            </a>
                        </div>
                        <div class="navPage-subMenu-content-tab-2">
                            <a href="/collections/chimera/">
                                <img src="/content/assets/nav/chimera.png" />
                                <div>Chimera</div>
                            </a>
                        </div>
                        <div class="navPage-subMenu-content-tab-2">
                            <a href="/collections/gold-luce/">
                                <img src="/content/assets/nav/gold-luce.png" />
                                <div>Luce</div>
                            </a>
                        </div>
                    </div>
                    <div class="navPage-subMenu-content-tab" data-index="2" style="position:relative;">
                        <div class="navPage-subMenu-content-tab-1">
                            <a href="/collections/silver-classico/">
                                <img src="/content/assets/nav/silver-classico.png" />
                                <div>Classico</div>
                            </a>
                        </div>
                        <div class="navPage-subMenu-content-tab-1">
                            <a href="/collections/silver-stardust/">
                                <img src="/content/assets/nav/silver-stardust.png" />
                                <div>Stardust</div>
                            </a>
                        </div>
                        <div class="navPage-subMenu-content-tab-1">
                            <a href="/collections/silver-lollipop/">
                                <img src="/content/assets/nav/silver-lollipop.png" />
                                <div>Lollipop&reg;</div>
                            </a>
                        </div>
                        <div class="navPage-subMenu-content-tab-1">
                            <a href="/collections/silver-rock-candy/">
                                <img src="/content/assets/nav/silver-rock-candy.png" />
                                <div>Rock Candy&reg;</div>
                            </a>
                        </div>
                        <i class="icon icon-chevron-right" aria-hidden="true">
                            <svg><use xlink:href="#icon-chevron-right"></use></svg>
                        </i>
                        <div>
                            <a href="/collections/wonderland/">
                                <img src="/content/assets/nav/silver-wonderland.png" />
                                <div>Wonderland</div>
                            </a>
                        </div>
                        <i class="icon icon-chevron-left" aria-hidden="true">
                            <svg><use xlink:href="#icon-chevron-left"></use></svg>
                        </i>
                        <div class="navPage-subMenu-content-tab-2">
                            <a href="/collections/chimera/">
                                <img src="/content/assets/nav/chimera.png" />
                                <div>Chimera</div>
                            </a>
                        </div>
                        <div class="navPage-subMenu-content-tab-2">
                            <a href="/collections/silver-carnevale/">
                                <img src="/content/assets/nav/silver-carnevale.png" />
                                <div>Carnevale</div>
                            </a>
                        </div>
                        <div class="navPage-subMenu-content-tab-2">
                            <a href="/collections/ondine/">
                                <img src="/content/assets/nav/silver-ondine.png" />
                                <div>Ondine</div>
                            </a>
                        </div>
                        <div class="navPage-subMenu-content-tab-2">
                            <a href="/collections/silver-luce/">
                                <img src="/content/assets/nav/silver-luce.png" />
                                <div>Luce</div>
                            </a>
                        </div>
                    </div>
                    <div class="navPage-subMenu-content-tab" data-index="3" style="position:relative;">
                        <div class="navPage-subMenu-content-tab-1">
                            <a href="/ippolita-classics/">
                                <img src="/content/assets/nav/woi-ippolita-classics.png" />
                                <div>IPPOLITA Classics</div>
                            </a>
                        </div>
                        <div class="navPage-subMenu-content-tab-1">
                            <a href="/search-results/?lp=flower">
                                <img src="/content/assets/nav/woi-flower.png" />
                                <div>Flower</div>
                            </a>
                        </div>
                        <div class="navPage-subMenu-content-tab-1">
                            <a href="/20-anniversario/">
                                <img src="/content/assets/nav/woi-20-icons.png" />
                                <div>20 Icons</div>
                            </a>
                        </div>
                        <div class="navPage-subMenu-content-tab-1">
                            <a href="/search-results/?lp=chains">
                                <img src="/content/assets/nav/woi-statement-chains.png" />
                                <div>Statement Chains</div>
                            </a>
                        </div>
                        <div class="navPage-subMenu-content-tab-1">
                            <a href="/search-results/?lp=ring-stack">
                                <img src="/content/assets/nav/woi-ring-stack.png" />
                                <div>Ring Stack</div>
                            </a>
                        </div>
                        <i class="icon icon-chevron-right" aria-hidden="true">
                            <svg><use xlink:href="#icon-chevron-right"></use></svg>
                        </i>
                        <i class="icon icon-chevron-left" aria-hidden="true">
                            <svg><use xlink:href="#icon-chevron-left"></use></svg>
                        </i>
                        <div class="navPage-subMenu-content-tab-2">
                            <a href="/search-results/?lp=ear-stack">
                                <img src="/content/assets/nav/woi-ear-stack.png" />
                                <div>Ear Stack</div>
                            </a>
                        </div>
                        <div class="navPage-subMenu-content-tab-2">
                            <a href="/inspiration/signature-styling/">
                                <img src="/content/assets/nav/woi-signature-styling.png" />
                                <div>Signature Styling</div>
                            </a>
                        </div>
                        <div class="navPage-subMenu-content-tab-2">
                            <a href="/shop-the-look/">
                                <img src="/content/assets/nav/woi-shop-the-look.png" />
                                <div>Shop The Look</div>
                            </a>
                        </div>
                        <div class="navPage-subMenu-content-tab-2">
                            <a href="/inspiration/sculptural-metal/">
                                <img src="/content/assets/nav/woi-sculptural-metal.png" />
                                <div>Sculptural Metal</div>
                            </a>
                        </div>
                        <div class="navPage-subMenu-content-tab-2">
                            <a href="/the-anniversario-stack-series/">
                                <img src="/content/assets/nav/woi-signature-stacks.png" />
                                <div>Signature Stacks</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="navPage-subMenu-entry navPage-subMenu-entry-links">
                    <a href="/jewelry/category/">View All Jewelry</a>
                    <a href="/jewelry/category/" style="display:none">View All Jewelry</a>
                    <a href="/jewelry/category/" style="display:none">View All Jewelry</a>
                    <a href="/inspiration/" style="display:none">Explore All Curated Edits</a>
                </div>
            </div>
        </li>
        <li class="navPages-item navPages-item-mobile">
            <div class="navPages-action">New Arrivals
                <i class="icon navPages-action-moreIcon" aria-hidden="true">
                    <svg><use xlink:href="#icon-chevron-down"></use></svg>
                </i>
            </div>
            <div class="navPage-subMenu" data-index="0">
                <ul class="navPage-subMenu-list">
                    <li class="navPage-subMenu-header navPages-action">
                        <i class="icon navPages-action-backIcon">
                            <svg><use xlink:href="#icon-chevron-left"></use></svg>
                        </i>
                        New Arrivals
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/new-arrivals/gold/">18K Gold</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/new-arrivals/silver/">925 Silver</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/new-arrivals/">View All New Arrivals</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="navPages-item navPages-item-desktop">
            <a class="navPages-action has-subMenu" href="/new-arrivals/">
                <div>New Arrivals</div>
                <i class="icon navPages-action-moreIcon" aria-hidden="true">
                    <svg><use xlink:href="#icon-chevron-down"></use></svg>
                </i>
            </a>
            <div class="navPage-subMenu">
                <ul class="navPage-subMenu-list">
                    <li class="navPage-subMenu-item selected"><div>Metal</div></li>
                </ul>
                <div class="navPage-subMenu-content">
                    <div class="navPage-subMenu-content-tab">
                        <div>
                            <a href="/new-arrivals/gold/">
                                <img src="/content/assets/nav/new-gold.png" />
                                <div>18K Gold</div>
                            </a>
                        </div>
                        <div>
                            <a href="/new-arrivals/silver/">
                                <img src="/content/assets/nav/new-silver.png" />
                                <div>925 Silver</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="navPage-subMenu-entry">
                    <a href="/new-arrivals/">View All New Arrivals</a>
                </div>
            </div>
        </li>
        <li class="navPages-item navPages-item-mobile">
            <div class="navPages-action">Gifts
                <i class="icon navPages-action-moreIcon" aria-hidden="true">
                    <svg><use xlink:href="#icon-chevron-down"></use></svg>
                </i>
            </div>
            <div class="navPage-subMenu">
                <ul class="navPage-subMenu-list">
                    <li class="navPage-subMenu-header navPages-action">
                        <i class="icon navPages-action-backIcon">
                            <svg><use xlink:href="#icon-chevron-left"></use></svg>
                        </i>
                        Gifts
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/gifts/gifts-of-gold/">18K Gold</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/gifts/gifts-of-silver/">925 Silver</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/gifts/gifts-under-500/">Under $500</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/gifts/gifts-under-1000">Under $1000</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/gifts/gifts-under-2000">Under $2000</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/gifts/">View All Gifts</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="navPages-item navPages-item-desktop">
            <a class="navPages-action has-subMenu" href="/gifts/">
                <div>Gifts</div>
                <i class="icon navPages-action-moreIcon" aria-hidden="true">
                    <svg><use xlink:href="#icon-chevron-down"></use></svg>
                </i>
            </a>
            <div class="navPage-subMenu">
                <ul class="navPage-subMenu-list">
                    <li class="navPage-subMenu-item selected" data-index="0"><div>Price</div></li>
                    <li class="navPage-subMenu-item" data-index="1"><div>Metal</div></li>
                </ul>
                <div class="navPage-subMenu-content">
                    <div class="navPage-subMenu-content-tab" data-index="0">
                        <div>
                            <a href="/gifts/gifts-under-500/">
                                <img src="/content/assets/nav/gifts-under-500.png" />
                                <div>Under $500</div>
                            </a>
                        </div>
                        <div>
                            <a href="/gifts/gifts-under-1000/">
                                <img src="/content/assets/nav/gifts-under-1000.png" />
                                <div>Under $1000</div>
                            </a>
                        </div>
                        <div>
                            <a href="/gifts/gifts-under-2000/">
                                <img src="/content/assets/nav/gifts-under-2000.png" />
                                <div>Under $2000</div>
                            </a>
                        </div>
                    </div>
                    <div class="navPage-subMenu-content-tab" data-index="1">
                        <div>
                            <a href="/gifts/gifts-of-gold/">
                                <img src="/content/assets/nav/gifts-gold.png" />
                                <div>18K Gold</div>
                            </a>
                        </div>
                        <div>
                            <a href="/gifts/gifts-of-silver/">
                                <img src="/content/assets/nav/gifts-silver.png" />
                                <div>925 Silver</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="navPage-subMenu-entry">
                    <a href="/gifts/">View All Gifts</a>
                </div>
            </div>
        </li>
        <li class="navPages-item navPages-item-mobile">
            <div class="navPages-action">World of Ippolita
                <i class="icon navPages-action-moreIcon" aria-hidden="true">
                    <svg><use xlink:href="#icon-chevron-down"></use></svg>
                </i>
            </div>
            <div class="navPage-subMenu" data-index="0">
                <ul class="navPage-subMenu-list">
                    <li class="navPage-subMenu-header navPages-action">
                        <i class="icon navPages-action-backIcon">
                            <svg><use xlink:href="#icon-chevron-left"></use></svg>
                        </i>
                        World of Ippolita
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/timeline/">Timeline</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/sustainability/">Sustainability</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/diario/">Diario</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/world-of-ippolita/">World of Ippolita</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="navPages-item navPages-item-desktop">
            <a class="navPages-action has-subMenu" href="/world-of-ippolita/">
                <div>World of Ippolita</div>
                <i class="icon navPages-action-moreIcon" aria-hidden="true">
                    <svg><use xlink:href="#icon-chevron-down"></use></svg>
                </i>
            </a>
            <div class="navPage-subMenu">
                <ul class="navPage-subMenu-list">
                    <li class="navPage-subMenu-item selected"><div>Explore</div></li>
                </ul>
                <div class="navPage-subMenu-content">
                    <div class="navPage-subMenu-content-tab">
                        <div>
                            <a href="/timeline/">
                                <img src="/content/assets/nav/woi-timeline.png" />
                                <div>Timeline</div>
                            </a>
                        </div>
                        <div>
                            <a href="/sustainability/">
                                <img src="/content/assets/nav/woi-sustainability.png" />
                                <div>Sustainability</div>
                            </a>
                        </div>
                        <div>
                            <a href="/diario/">
                                <img src="/content/assets/nav/woi-diario.png" />
                                <div>Diario</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="navPage-subMenu-entry">
                    <a href="/world-of-ippolita/">World of IPPOLITA</a>
                </div>
            </div>
        </li>
    </ul>
    <ul class="navPages-list navPages-list--user">
        {{#if currency_selector.currencies.length '>' 1}}
            <li class="navPages-item">
                <a class="navPages-action has-subMenu" href="#" data-collapsible="navPages-currency" aria-controls="navPages-currency" aria-expanded="false">
                    {{lang 'common.currency' code=currency_selector.active_currency_code}} <i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-down"></use></svg></i>
                </a>
                <div class="navPage-subMenu" id="navPages-currency" aria-hidden="true" tabindex="-1">
                    <ul class="navPage-subMenu-list">
                        {{#each currency_selector.currencies}}
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{{switch_url}}}">
                                {{#if is_active}}
                                    <strong>{{name}}</strong>
                                {{else}}
                                    {{name}}
                                {{/if}}
                            </a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </li>
        {{/if}}
<!--         {{#if settings.gift_certificates_enabled}}
            <li class="navPages-item">
                <a class="navPages-action" href="{{urls.gift_certificate.purchase}}">{{lang 'common.gift_cert'}}</a>
            </li>
        {{/if}} -->
        {{#if customer.store_credit.value '>' 0}}
            <li class="navPages-item">
                <a class="navPages-action navPages-action--storeCredit">
                    {{lang 'common.store_credit_overview' credit=customer.store_credit.formatted}}
                </a>
            </li>
        {{/if}}
        {{#if theme_settings.product_list_display_mode '==' 'list'}}
            <li class="navPages-item">
                <a class="navPages-action navPages-action--compare" href="{{urls.compare}}" data-compare-nav>{{lang 'common.compare'}} <span class="countPill countPill--positive countPill--alt"></span></a>
            </li>
        {{/if}}
        {{#if customer}}
            <li class="navPages-item">
                <a class="navPages-action has-subMenu" href="{{urls.account.index}}" data-collapsible="navPages-account">
                    {{lang 'common.account'}} <i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i>
                </a>
                <div class="navPage-subMenu" id="navPages-account" aria-hidden="true" tabindex="-1">
                    <ul class="navPage-subMenu-list">
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.orders.all}}">{{lang 'account.nav.orders'}}</a>
                        </li>
                        {{#if settings.returns_enabled}}
                            <li class="navPage-subMenu-item">
                                <a class="navPage-subMenu-action navPages-action" href="{{urls.account.returns}}">{{lang 'account.nav.returns'}}</a>
                            </li>
                        {{/if}}
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.inbox}}">{{lang 'account.mobile_nav.messages'}}</a>
                        </li>
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.addresses}}">{{lang 'account.nav.addresses'}}</a>
                        </li>
                        {{#if settings.show_payment_methods}}
                            <li class="navPage-subMenu-item">
                                <a class="navPage-subMenu-action navPages-action" href="{{urls.account.payment_methods.all}}">{{lang 'account.nav.payment_methods'}}</a>
                            </li>
                        {{/if}}
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.wishlists.all}}">{{lang 'account.mobile_nav.wishlists'}}</a>
                        </li>
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.recent_items}}">{{lang 'account.nav.recently_viewed'}}</a>
                        </li>
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.details}}">{{lang 'account.nav.settings'}}</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="navPages-item">
                <a class="navPages-action" href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a>
            </li>
        {{else}}
            <li class="navPages-item">
                <a class="navPages-action" href="{{urls.auth.login}}">{{lang 'common.login'}}</a>
                {{#if settings.account_creation_enabled}}
                    {{lang 'common.or'}} <a class="navPages-action" href="{{urls.auth.create_account}}">{{lang 'common.sign_up'}}</a>
                {{/if}}
            </li>
        {{/if}}
        {{#if theme_settings.social_icon_placement_top}}
            <li class="navPages-item">
                {{> components/common/social-links}}
            </li>
        {{/if}}
    </ul>
</nav>
