<div id="size-guide" class="modal modal--large" data-reveal>
    <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">
        <span aria-hidden="true">&#215;</span>
    </a>
    <div class="modal-content">
        <a class="sizeGuide-action" href="/jewelry/" data-dropdown="sizeGuide-1">BANGLES</a>
        <div class="sizeGuide-subSection dropdown-menu" id="sizeGuide-1" data-dropdown-content aria-hidden="false">
            <div class="bangle-sizes-intro">
                <h5>Bangles</h5>
                <p>Bangle size is determined by the size of your hand and not your wrist. To find yours, simply tuck your thumb into the palm of your hand (as if about to put on a bangle), and using a measuring tape, measure your hand all the way around the set of knuckles closest to your wrist. Compare that measurement to the chart below. The standard size in US is 3 for round bangles, and 2 for oval bangles.</p>
            </div>
            <div>
                <h5>Round</h5>
                <div class="bangle-sizes-container">
                    <div>
                        <h5>US SIZE 0</h5>
                        <div>6.75"</div>
                    </div>
                    <div>
                        <h5>US SIZE 1</h5>
                        <div>7.25"</div>
                    </div>
                    <div>
                        <h5>US SIZE 2</h5>
                        <div>7.50"</div>
                    </div>
                    <div>
                        <h5>US SIZE 3 <span>(Standard)</span></h5>
                        <div>8"</div>
                    </div>
                    <div>
                        <h5>US SIZE 4</h5>
                        <div>8.75"</div>
                    </div>
                </div>
            </div>
            <div>
                <h5>Oval</h5>
                <div class="bangle-sizes-container">
                    <div>
                        <h5>US SIZE 0</h5>
                        <div>6.75"</div>
                    </div>
                    <div>
                        <h5>US SIZE 1</h5>
                        <div>7.25"</div>
                    </div>
                    <div>
                        <h5>US SIZE 2 <span>(Standard)</span></h5>
                        <div>7.75"</div>
                    </div>
                    <div>
                        <h5>US SIZE 3</h5>
                        <div>8"</div>
                    </div>
                    <div>
                        <h5>US SIZE 4</h5>
                        <div>8.75"</div>
                    </div>
                </div>
            </div>
            <div class="additional-sizes-container">
                <div>Don't see your size? Please contact us, as additional sizes are available.</div>
                <div>Consult A Stylist: 646-597-4578</div>
            </div>
        </div>

        <a class="sizeGuide-action" href="/jewelry/" data-dropdown="sizeGuide-2">RINGS</a>
        <div class="sizeGuide-subSection dropdown-menu" id="sizeGuide-2" data-dropdown-content aria-hidden="false">
            <div>
                <h5>Rings</h5>
                <p>Ring size is determined by inner diameter, not circumference. To find yours, cut a thin piece of paper and wrap it around your finger, keeping it close to your bottom knuckle. Mark where the paper meets and measure its length with a ruler. US 7 is the standard ring size. Measurements below in millimeters.</p>
            </div>
            <div class="ring-sizes-container">
                <div>
                    <h5>US SIZE 6</h5>
                    <div>16.4mm inner diameter</div>
                    <div>51.5mm inner circumference</div>
                </div>
                <div>
                    <h5>US SIZE 7 <span>(Standard)</span></h5>
                    <div>17.4mm inner diameter</div>
                    <div>54.5mm inner circumference</div>
                </div>
                <div>
                    <h5>US SIZE 8</h5>
                    <div>18.2mm inner diameter</div>
                    <div>57.0mm inner circumference</div>
                </div>
            </div>
            <div>
                <a href="/content/ippolita-size-guide.pdf" target="_blank" rel="noopener noreferrer">
                    <h5>Our Easy Ring Size Guide - Find Your Perfect Fit Here (PDF)</h5>
                </a>
            </div>
            <div class="additional-sizes-container">
                <div>Don't see your size? Please contact us, as additional sizes are available.</div>
                <div>Consult A Stylist: 646-597-4578</div>
            </div>
        </div>

        <a class="sizeGuide-action" href="/jewelry/" data-dropdown="sizeGuide-3">NECKLACES</a>
        <div class="sizeGuide-subSection dropdown-menu" id="sizeGuide-3" data-dropdown-content aria-hidden="false">
            <div>
                <h5>Necklaces</h5>
                <p>Discover our different necklace lengths (in) with the chart below, and see how your perfect pendant pairs with long layers. Measurements below in inches.</p>
            </div>
            <div class="necklace-sizes-container">
                <img src="https://www.ippolita.com/product_images/uploaded_images/necklace-size.jpg" />
            </div>
        </div>

        <div class="loadingOverlay"></div>
    </div>
</div>
