<div id="size-guide" class="modal modal--large" data-reveal>
    <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">
        <span aria-hidden="true">&#215;</span>
    </a>
    <div class="modal-content">
        <div class="modal-nav">
            <div class="modal-nav-item">BANGLES</div>
            <div class="modal-nav-item">RINGS</div>
            <div class="modal-nav-item">NECKLACES</div>
        </div>

        <div class="modal-main">
            <div class="modal-main-item">
                <div class="bangle-sizes-intro">
                    <p>Bangle size is determined by the size of your hand and not your wrist. To find yours, simply tuck your thumb into the palm of your hand (as if about to put on a bangle), and using a measuring tape, measure your hand all the way around the set of knuckles closest to your wrist. Compare that measurement to the chart below. The standard size in US is 3 for round bangles, and 2 for oval bangles.</p>
                    <a href="/content/size-guide-bangles.pdf" target="_blank" rel="noopener noreferrer">
                        <h5>Download Our Easy Size Guide (PDF)</h5>
                    </a>
                </div>
                <div class="bangle-sizes-container">
                    <h5>SHAPE</h5>
                    <h5>US SIZE</h5>
                    <h5 class="hide-on-mobile">HAND CIRCUMFERENCE</h5>
                    <h5 class="show-on-mobile">HAND CIRC</h5>
                    <div>ROUND</div>
                    <div>0</div>
                    <div>6.75 in</div>
                    <div class="white">_</div>
                    <div>1</div>
                    <div>7.25 in</div>
                    <div class="white">_</div>
                    <div>2</div>
                    <div>7.5 in</div>
                    <div class="white">_</div>
                    <div>3 (STANDARD)</div>
                    <div>8 in</div>
                    <div class="white">_</div>
                    <div>4</div>
                    <div>8.75 in</div>
                    <div>OVAL</div>
                    <div>0</div>
                    <div>6.75 in</div>
                    <div class="white">_</div>
                    <div>1</div>
                    <div>7.25 in</div>
                    <div class="white">_</div>
                    <div>2 (STANDARD)</div>
                    <div>7.75 in</div>
                    <div class="white">_</div>
                    <div>3</div>
                    <div>8 in</div>
                    <div class="white">_</div>
                    <div>4</div>
                    <div>8.75 in</div>
                </div>
            </div>

            <div class="modal-main-item">
                <div class="ring-sizes-intro">
                    <p>Ring size is determined by inner diameter, not circumference. To find yours, cut a thin piece of paper and wrap it around your finger, keeping it close to your bottom knuckle. Mark where the paper meets and measure its length with a ruler. US 7 is the standard ring size. Measurements below in millimeters.</p>
                    <a href="/content/size-guide-rings.pdf" target="_blank" rel="noopener noreferrer">
                        <h5>Download Our Easy Size Guide (PDF)</h5>
                    </a>
                </div>
                <div class="ring-sizes-container">
                    <h5>US SIZE</h5>
                    <h5 class="hide-on-mobile">INNER DIAMETER</h5>
                    <h5 class="show-on-mobile">INNER DIA</h5>
                    <h5 class="hide-on-mobile">INNER CIRCUMFERENCE</h5>
                    <h5 class="show-on-mobile">INNER CIRC</h5>
                    <div>6</div>
                    <div>16.4 mm</div>
                    <div>51.5 mm</div>
                    <div>7 (STANDARD)</div>
                    <div>17.4mm</div>
                    <div>54.5mm</div>
                    <div>8</div>
                    <div>18.2mm</div>
                    <div>57.0mm</div>
                </div>
            </div>

            <div class="modal-main-item">
                <div class="necklace-sizes-intro">
                    <p>Discover our different necklace lengths (in) with the chart below, and see how your perfect pendant pairs with long layers. Measurements below in inches.</p>
                </div>
                <div class="necklace-sizes-container">
                    <div class="necklace-sizes-grid">
                        <h5>LENGTH (IN)</h5>
                        <h5>LENGTH (CM)</h5>
                        <div>16"</div>
                        <div>40.64cm</div>
                        <div>18"</div>
                        <div>45.72cm</div>
                        <div>33"</div>
                        <div>83.82cm</div>
                        <div>37"</div>
                        <div>93.98cm</div>
                        <div>42"</div>
                        <div>106.68cm</div>
                    </div>
                    <div class="necklace-sizes-image">
                        <img src="/content/size-guide-necklaces.jpg" />
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footnote">
            <h5>Don't see your size?</h5>
            <div>Please contact us, as additional sizes are available. Consult a stylist: 646-597-4578</div>
        </div>

        <div class="loadingOverlay"></div>
    </div>
</div>
