---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}
---
{{#partial "page"}}
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

    {{#each product.shipping_messages}}
        {{> components/common/alert-info message}}
    {{/each}}

    <style type="text/css">
        .body > .container {
            max-width: 110rem !important;
        }
    </style>

    <div itemscope itemtype="http://schema.org/Product">
        {{> components/products/product-view schema=true  }}

        {{{region name="product_below_content"}}}

        {{#if product.videos.list.length}}
            {{> components/products/videos product.videos}}
        {{/if}}

        {{#all settings.show_product_reviews (if theme_settings.show_product_reviews_tabs '!==' true)}}
            {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
        {{/all}}

        <div id="isp-related-tabs">
            <div id="isp-related-tab-1">You May Also Like...</div>
            <div id="isp-related-tab-2">Recently Viewed</div>
        </div>

        <div id="isp-related-widgets">
            <div title="You May Also Like..." layout="horizontal" max_suggest="5" sources="related_views,similar_products,related_recently_viewed,related_purchase" id="isp-related-widget-1"></div>
            <div title="Recently Viewed" layout="horizontal" max_suggest="5" sources="related_recently_viewed,related_top_products" id="isp-related-widget-2"></div>
        </div>

        <script src="https://acp-magento.appspot.com/js/isp_related_products.js?v=1.0.9&UUID=2a7b6022-1080-487d-9179-6512b21800fa&store=1"></script>

        <!-- <script src="https://acp-magento.appspot.com/js/isp_related_products.js?v=1.0.9&UUID=eb981cff-208f-49ef-ac71-32fc911beaf1&store=1"></script> -->

        <script>
            // configure isp related tabs
            (function() {
                var tab1 = document.querySelector("#isp-related-tab-1");
                var tab2 = document.querySelector("#isp-related-tab-2");
                var widget1 = document.querySelector("#isp-related-widget-1");
                var widget2 = document.querySelector("#isp-related-widget-2");

                tab1.addEventListener("click", function() {
                    widget1.style.display = "block";
                });

                tab2.addEventListener("click", function() {
                    widget1.style.display = "none";
                });
            })();
        </script>

        <a id="pdp-banner-anchor">
            <img id="pdp-banner-mobile" src="" />
            <img id="pdp-banner" src="" />
        </a>
        <script type="text/javascript">
            // add collection links and banners
            (function() {
                var productCollection = document.querySelector(".productView .productView-collection");
                var pdpBannerAnchor = document.querySelector("#pdp-banner-anchor");
                var pdpBannerMobile = document.querySelector("#pdp-banner-mobile");
                var pdpBanner = document.querySelector("#pdp-banner");

                var collection = "{{#filter product.custom_fields 'Collection' property='name' }}{{value}}{{/filter}}".toUpperCase();
                var material = "{{#filter product.custom_fields 'Material' property='name' }}{{value}}{{/filter}}".toUpperCase();

                if (collection == "CLASSICO") {
                    if (material == "GOLD") {
                        productCollection.href = "/collections/gold-classico/";
                        pdpBannerAnchor.href = "/collections/gold-classico/";
                        pdpBannerMobile.src = "/content/banners/pdp/gold-classico-mobile.jpg";
                        pdpBanner.src = "/content/banners/pdp/gold-classico.jpg";
                    }
                    else if (material == "SILVER") {
                        productCollection.href = "/collections/silver-classico/";
                        pdpBannerAnchor.href = "/collections/silver-classico/";
                        pdpBannerMobile.src = "/content/banners/pdp/silver-classico-mobile.jpg";
                        pdpBanner.src = "/content/banners/pdp/silver-classico.jpg";
                    }
                    else {
                        productCollection.href = "/collections/chimera/";
                        pdpBannerAnchor.href = "/collections/chimera/";
                        pdpBannerMobile.src = "/content/banners/pdp/chimera-mobile.jpg";
                        pdpBanner.src = "/content/banners/pdp/chimera.jpg";
                    }
                }
                else if (collection == "LOLLIPOP®") {
                    if (material == "GOLD") {
                        productCollection.href = "/collections/gold-lollipop/";
                        pdpBannerAnchor.href = "/collections/gold-lollipop/";
                        pdpBannerMobile.src = "/content/banners/pdp/gold-lollipop-mobile.jpg";
                        pdpBanner.src = "/content/banners/pdp/gold-lollipop.jpg";
                    }
                    else {
                        productCollection.href = "/collections/silver-lollipop/";
                        pdpBannerAnchor.href = "/collections/silver-lollipop/";
                        pdpBannerMobile.src = "/content/banners/pdp/gold-lollipop-mobile.jpg";
                        pdpBanner.src = "/content/banners/pdp/gold-lollipop.jpg";
                    }
                }
                else if (collection == "ROCK CANDY®") {
                    if (material == "GOLD") {
                        productCollection.href = "/collections/gold-rock-candy/";
                        pdpBannerAnchor.href = "/collections/gold-rock-candy/";
                        pdpBannerMobile.src = "/content/banners/pdp/gold-rock-candy-mobile.jpg";
                        pdpBanner.src = "/content/banners/pdp/gold-rock-candy.jpg";
                    }
                    else {
                        productCollection.href = "/collections/silver-rock-candy/";
                        pdpBannerAnchor.href = "/collections/silver-rock-candy/";
                        pdpBannerMobile.src = "/content/banners/pdp/silver-rock-candy-mobile.jpg";
                        pdpBanner.src = "/content/banners/pdp/silver-rock-candy.jpg";
                    }
                }
                else if (collection == "POLISHED ROCK CANDY") {
                    productCollection.href = "/collections/polished-rock-candy/";
                    pdpBannerAnchor.href = "/collections/polished-rock-candy/";
                    pdpBannerMobile.src = "/content/banners/pdp/polished-rock-candy-mobile.jpg";
                    pdpBanner.src = "/content/banners/pdp/polished-rock-candy.jpg";
                }
                else if (collection == "ATELIER") {
                    productCollection.href = "/collections/one-of-a-kind/";
                    pdpBannerAnchor.href = "/collections/one-of-a-kind/";
                    pdpBannerMobile.src = "/content/banners/pdp/one-of-a-kind-mobile.jpg";
                    pdpBanner.src = "/content/banners/pdp/one-of-a-kind.jpg";
                }
                else if (collection == "IPPOLITA CHARMS") {
                    productCollection.href = "/collections/ippolita-charms/";
                    pdpBannerAnchor.href = "/collections/ippolita-charms/";
                    pdpBannerMobile.src = "/content/banners/pdp/ippolita-charms-mobile.jpg";
                    pdpBanner.src = "/content/banners/pdp/ippolita-charms.jpg";
                }
                else {
                    productCollection.href = "/collections/" + collection.toLowerCase() + "/";
                    pdpBannerAnchor.href = "/collections/" + collection.toLowerCase() + "/";
                    pdpBannerMobile.src = "/content/banners/pdp/" + collection.toLowerCase() + "-mobile.jpg";
                    pdpBanner.src = "/content/banners/pdp/" + collection.toLowerCase() + ".jpg";
                }
            })();
        </script>

        <script>
            // hide widgets for GWP
            (function() {
                var product = {{{JSONstringify product}}};

                if (product.sku == "TRVLCASE") {
                    document.querySelector("#isp-related-tabs").style.display = "none";
                    document.querySelector("#isp-related-widgets").style.display = "none";
                    document.querySelector("#pdp-banner-anchor").style.display = "none";
                }
            })();
        </script>

        <div id="pdp-benefits">
            <h1>Enjoy These Benefits</h1>
            <p>Whether you shop on our website or in store, we believe in providing you with a purchasing experience that's easy, comfortable and enjoyable.</p>
            <ul id="pdp-benefits-list">
                <li>
                    <img src="/content/icons/pdp/shipping.svg" />
                    <h6>Complimentary 2-Day Shipping</h6>
                </li>
                <li>
                    <img src="/content/icons/pdp/return.svg" />
                    <h6>Extended Returns</h6>
                </li>
                <li>
                    <img src="/content/icons/pdp/polishing.svg" />
                    <h6>Jewelry Polishing</h6>
                </li>
                <li>
                    <img src="/content/icons/pdp/order.svg" />
                    <h6>Bespoke Orders</h6>
                </li>
                <li>
                    <img src="/content/icons/pdp/affirm.svg" />
                    <h6>Wear Now, Pay Later</h6>
                </li>
            </ul>
        </div>
    </div>
{{/partial}}
{{> layout/base}}

<!-- Klaviyo viewed product tracking -->
<script type="text/javascript">
    var _learnq = _learnq || [];

    var item = {
        Name: "{{product.title}}",
        ProductID: "{{product.id}}",
        ImageURL: "{{getImage product.main_image 'product_size' (cdn theme_settings.default_image_product)}}",
        URL: "{{product.url}}",
        Brand: "{{product.brand.name}}",
        Price: "{{product.price.without_tax.value}}",
        CompareAtPrice: "{{product.price.rrp_without_tax.value}}"
    };

    _learnq.push(['track', 'Viewed Product', item]);

    _learnq.push(['trackViewedItem', {
        Title: item.Name,
        ItemId: item.ProductID,
        ImageUrl: item.ImageURL,
        Url: item.URL,

        Metadata: {
        Brand: item.Brand,
        Price: item.Price,
        CompareAtPrice: item.CompareAtPrice
    }
    }]);
</script>

<!-- Hero viewed product tracking -->
<script type="text/javascript">
    hero("track", {
        type: "ecommerce:detail",
        products: [
            {
                id: "{{product.id}}",
                name: "{{product.title}}",
                image: "{{getImage product.main_image 'product_size' (cdn theme_settings.default_image_product)}}",
                price: parseFloat("{{product.price.without_tax.value}}"),
                currency: "USD",
                brand: "{{product.brand.name}}",
                category: "Jewelry",
                variant: "{{product.sku}}",
                location: "{{product.url}}"
            }
        ]
    });
</script>
