// =============================================================================
// BODY (CSS)
//
// 1. Header is fixed on small screens, use the content body to create the whitespace
//    between it and the header on all situations. If you change the spacing here,
//    please update .heroCarousel too.
//
// =============================================================================


.body {
    margin-bottom: spacing("double") * 2;
    margin-top: spacing("single"); // 1

    @include breakpoint("medium") {
        margin-top: 5.5rem;
    }
}

.page {
    @include grid-row(
        $behavior: nest
    );
}

.page-content,
.page-content--full {
    @include grid-column(12);
}

.page-content--centered {
    padding-left: 0 !important;
    padding-right: 0 !important;

    @include breakpoint("medium") {
        @include grid-column(
            $columns: 12,
            $center: true
        );
    }
}

.page-content--textCenter {
    text-align: center;
}

.page-sidebar {
    @include grid-column(12);
    position: relative;

    @include breakpoint("medium") {
        @include grid-column(3);

        + .page-content {
            @include grid-column(9);
        }
    }
}

// size guide
#size-guide {
    height: auto;
    max-height: 100%;
    max-width: 750px;
    overflow: auto;
    padding: 2rem;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
        display: none;
    }

    .modal-close {
        top: 1.5rem;
        right: 1.25rem;
    }

    .modal-nav {
        border-bottom: 1px solid #ccc;
        padding-bottom: 1rem;

        .modal-nav-item {
            color: #999;
            cursor: pointer;
            display: inline-block;
            font-weight: bold;
            margin-right: 5rem;

            &:hover {
                color: black !important;
            }
        }

        .modal-nav-item:first-child {
            color: black;
        }
    }

    .modal-main {
        .modal-main-item {
            margin-top: 2rem;
        }

        .modal-main-item:nth-child(2),
        .modal-main-item:nth-child(3) {
            display: none;
        }

        .bangle-sizes-container,
        .ring-sizes-container,
        .necklace-sizes-container {
            align-items: center;
            display: flex;
            justify-content: center;

            > div {
                flex: 1;

                div {
                    margin: 10px 0;
                }
            }
        }

        .ring-sizes-container {
            div:first-child > div {
                margin: 25px 0;
            }
        }

        h5 {
            font-weight: bold;
        }
    }

    .modal-footnote {
        margin-top: 2rem;
    }

    @media (max-width: 750px) {
        height: 100%;
        max-height: 100%;
        max-width: 100%;
        padding: 2rem 1rem;
        width: 100%;
        z-index: 999999;

        .modal-close {
            top: 1.5rem;
            right: 0.5rem;
        }

        .modal-nav {
            .modal-nav-item {
                margin-right: 2rem;
            }
        }

        .bangle-sizes-container,
        .ring-sizes-container,
        .necklace-sizes-container {
            flex-wrap: wrap;

            > div {
                min-width: 50%;
            }
        }
    }
}

// assistance
#assistance-content {
    #track-your-order,
    #shipping,
    #exchanges-and-returns,
    #faqs,
    #care-and-repair {
        padding-top: 4rem,
    }
}

// legal
#legal-content {
    #privacy-policy,
    #terms-of-use {
        padding-top: 4rem;
    }
}

// alert box
.alertBox.alertBox--error {
    background-color: #e5e5e5 !important;
}
