// =============================================================================
// BODY (CSS)
//
// 1. Header is fixed on small screens, use the content body to create the whitespace
//    between it and the header on all situations. If you change the spacing here,
//    please update .heroCarousel too.
//
// =============================================================================


.body {
    margin-bottom: spacing("double") * 2;
    margin-top: spacing("single"); // 1

    @include breakpoint("medium") {
        margin-top: 5.5rem;
    }
}

.page {
    @include grid-row(
        $behavior: nest
    );
}

.page-content,
.page-content--full {
    @include grid-column(12);
}

.page-content--centered {
    padding-left: 0 !important;
    padding-right: 0 !important;

    @include breakpoint("medium") {
        @include grid-column(
            $columns: 12,
            $center: true
        );
    }
}

.page-content--textCenter {
    text-align: center;
}

.page-sidebar {
    @include grid-column(12);
    position: relative;

    @include breakpoint("medium") {
        @include grid-column(3);

        + .page-content {
            @include grid-column(9);
        }
    }
}

// size guide
#size-guide {
    height: 60%;
    overflow: auto;
    padding: 2rem;

    .modal-close {
        top: 1.5rem;
        right: 1.25rem;
    }

    .modal-content {
        border-bottom: 1px solid #ccc;
        padding-bottom: 1rem;
    }

    .sizeGuide-action {
        color: #999;
        display: inline-block;
        font-weight: bold;
        text-decoration: none;
        margin-right: 5rem;

        &.is-open {
            color: black !important;
        }
    }

    .sizeGuide-subSection {
        top: 5rem !important;
        left: 0 !important;

        background-color: white;
        max-width: 100%;
        padding: 0 2rem 3rem;

        h5 {
            font-weight: bold;
            text-transform: none;
        }
    }

    .bangle-sizes-container,
    .ring-sizes-container,
    .necklace-sizes-container {
        align-items: center;
        display: flex;
        justify-content: center;

        div {
            flex: 1;

            h5 {
                margin-top: 0;
            }
        }
    }

    .additional-sizes-container {
        margin-top: 2rem;
    }

    @media (max-width: 551px) {
        height: 100%;
        max-height: 100%;
        max-width: 100%;
        padding: 2rem 1rem;
        width: 100%;

        .modal-close {
            top: 1.5rem;
            right: 0.5rem;
        }

        .sizeGuide-action {
            margin-right: 1rem;
        }

        .sizeGuide-subSection {
            padding: 0 1rem 3rem;
        }

        .bangle-sizes-container,
        .ring-sizes-container,
        .necklace-sizes-container {
            flex-wrap: wrap;

            div {
                min-width: 50%;

                h5 {
                    margin-top: 1rem;
                    margin-bottom: 0;
                }
            }
        }
    }
}

// assistance
#assistance-content {
    #track-your-order,
    #shipping,
    #exchanges-and-returns,
    #faqs,
    #care-and-repair {
        padding-top: 4rem,
    }
}

// legal
#legal-content {
    #privacy-policy,
    #terms-of-use {
        padding-top: 4rem;
    }
}

// alert box
.alertBox.alertBox--error {
    background-color: #e5e5e5 !important;
}
