// =============================================================================
// BODY (CSS)
//
// 1. Header is fixed on small screens, use the content body to create the whitespace
//    between it and the header on all situations. If you change the spacing here,
//    please update .heroCarousel too.
//
// =============================================================================


.body {
    margin-bottom: spacing("double") * 2;
    margin-top: spacing("single"); // 1

    @include breakpoint("medium") {
        margin-top: 5.5rem;
    }
}

.page {
    @include grid-row(
        $behavior: nest
    );
}

.page-content,
.page-content--full {
    @include grid-column(12);
}

.page-content--centered {
    padding-left: 0 !important;
    padding-right: 0 !important;

    @include breakpoint("medium") {
        @include grid-column(
            $columns: 12,
            $center: true
        );
    }
}

.page-content--textCenter {
    text-align: center;
}

.page-sidebar {
    @include grid-column(12);
    position: relative;

    @include breakpoint("medium") {
        @include grid-column(3);

        + .page-content {
            @include grid-column(9);
        }
    }
}

// breadcrumbs
.breadcrumbs {
    display: none;
}

// size guide
#size-guide {
    height: auto;
    max-height: 100%;
    max-width: 750px;
    overflow: auto;
    padding: 2rem;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
        display: none;
    }

    .modal-close {
        top: 1.5rem;
        right: 1.25rem;
    }

    .modal-nav {
        border-bottom: 1px solid #ccc;
        padding-bottom: 1rem;

        .modal-nav-item {
            color: #999;
            cursor: pointer;
            display: inline-block;
            font-weight: bold;
            margin-right: 7.5rem;

            &:hover {
                color: black !important;
            }
        }

        .modal-nav-item:first-child {
            color: black;
        }
    }

    .modal-main {
        .modal-main-item {
            margin-top: 2rem;
        }

        .modal-main-item:nth-child(2),
        .modal-main-item:nth-child(3) {
            display: none;
        }

        .bangle-sizes-container,
        .ring-sizes-container  {
            border-top: 1px solid #ccc;
            border-left: 1px solid #ccc;
            display: grid;
            grid-template-columns: repeat(3, 33.33%);

            > h5,
            > div {
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                margin: 0;
                padding: 10px 5px;
            }

            .white {
                color: #fff;
            }
        }

        .necklace-sizes-container {
            display: flex;

            .necklace-sizes-grid {
                border-top: 1px solid #ccc;
                border-left: 1px solid #ccc;
                display: grid;
                flex: 1;
                grid-template-columns: repeat(2, 50%);

                > h5,
                > div {
                    border-right: 1px solid #ccc;
                    border-bottom: 1px solid #ccc;
                    margin: 0;
                    padding: 10px 5px;
                }
            }

            .necklace-sizes-image {
                text-align: center;
                flex: 1;

                img {
                    max-height: 250px;
                }
            }
        }

        h5 {
            font-weight: bold;
        }
    }

    .modal-footnote {
        margin-top: 2rem;
    }

    .hide-on-mobile {
        display: block;
    }

    .show-on-mobile {
        display: none;
    }

    @media (max-width: 750px) {
        height: 100%;
        max-height: 100%;
        max-width: 100%;
        padding: 2rem 1rem;
        width: 100%;
        z-index: 999999;

        .modal-close {
            top: 1.5rem;
            right: 0.5rem;
        }

        .modal-nav-item {
            margin-right: 1rem !important;
        }

        .necklace-sizes-container {
            display: block !important;
            margin-bottom: 2rem;
        }

        .hide-on-mobile {
            display: none;
        }

        .show-on-mobile {
            display: block;
        }
    }
}

// assistance
#assistance-content {
    #track-your-order,
    #shipping,
    #exchanges-and-returns,
    #faqs,
    #care-and-repair {
        padding-top: 4rem,
    }
}

// legal
#legal-content {
    #privacy-policy,
    #terms-of-use {
        padding-top: 4rem;
    }
}

// alert box
.alertBox.alertBox--error {
    background-color: #e5e5e5 !important;
}

// zonos
#zonos.US {
    display: none;
}

#zonos > .z-flag {
    bottom: 10px !important;
    left: 50px !important;
    padding: 0 !important;

    @media (min-width: 480px) {
        bottom: 0px !important;
        left: 40px !important;
    }

    @media (min-width: 980px) {
        bottom: 10px !important;
        left: 50px !important;
    }

    > img {
        height: 30px !important;
        width: 30px !important;
    }
}

// store locator
#map {
    height: 400px;
}

.locator-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.locator-selection-label {
    font-family: "Helvetica Neue Roman", sans-serif !important;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
}

.locator-selection {
    display: block;
    font-size: 20px;
    margin: 20px auto;
    padding: 5px;
    width: 250px;
}

.locator-filter {
    border: none;
    text-align: center;
}

.locator-filter > div {
    margin: 20px;
}

.locator-filter > legend {
    font-weight: bold;
}

.locator-filter input[type='radio']:after {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid black;
}

.locator-filter input[type='radio']:checked:after {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: black;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid black;
}

.locator-filter label {
    margin-left: 10px;
}

.locator-store {
    font-size: 15px;
    letter-spacing: 0.1em;
    padding: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid black;
}

.locator-store:last-child {
    border-bottom: none;
}

.locator-label {
    font-size: 10px;
    margin-bottom: 10px;
}

.locator-store-name {
    font-size: 25px;
}

.locator-store-content-container {
    display: block;
}

.locator-store-content-left,
.locator-store-content-right {
    flex: 1;
    padding-top: 20px;
    padding-bottom: 40px;
}

.locator-store-content-right {
    display: flex;
    flex-direction: column;
}

.locator-store-address-container,
.locator-store-hours-container,
.locator-store-contact-container,
.locator-store-message,
.locator-store-buttons {
    flex: 1;
}

.locator-store-image {
    width: 100%;
}

.locator-store-hours-container,
.locator-store-contact-container,
.locator-store-message,
.locator-store-buttons {
    margin-top: 20px;
}

.locator-store-email,
.locator-store-message {
    text-transform: none;
}

.locator-store-buttons > a {
    display: block;
    text-decoration: none;
    width: 225px;
}

.locator-store-button1,
.locator-store-button2 {
    border: 1px solid black;
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
}

.locator-store-button1 {
    color: white;
    background-color: black;
}

.locator-store-button2 {
    color: black;
    background-color: white;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    padding-right: 20px;
    padding-left: 20px;
}

@include breakpoint("medium") {
    .locator-filter > div {
        display: inline-block;
    }

    .locator-store {
        font-size: 20px;
        padding: 40px;
    }

    .locator-store-content-container {
        display: flex;
    }

    .locator-store-content-left {
        padding-right: 30px;
    }

    .locator-store-content-right {
        padding-left: 30px;
    }
}
