{{#partial "page"}}
<div class="account">
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    <h2 class="page-heading">{{lang 'account.returns.heading'}}</h2>
    {{> components/account/navigation account_page='returns'}}
    <div class="account-row">
        <p>
            {{lang 'account.returns.successful'}}
        </p>
        {{#if return.instructions}}
            <h3>{{lang 'account.returns.instructions'}}</h3>
            <p>
                To send your return to us, simply follow the below steps:<br>1. Complete the return/exchange form included with your order. Please specify the reason for your return.<br>2. Remove all outer box labels prior to attaching the pre-paid UPS return included with your order and seal your package. If you need a new label, please email CustomerCare@ippolita.com letting us know and we will gladly provide one for you.<br>3. Schedule your pick up directly with UPS by calling 1-800-823-7459 or you can drop off your return at a local UPS facility.<br><br>Items must be sent back to us with all their original packaging including the warranty, presentation box and outer cardboard if applicable. We will notify you by email once we have received your return.
            </p>
        {{/if}}
    </div>
</div>
{{/partial}}
{{> layout/base}}
