// =============================================================================
// PRODUCT VIEW (CSS)
// =============================================================================


// Product view layout
// -----------------------------------------------------------------------------

.productView {
    @include grid-row($behavior: "nest");
    margin-left: -(spacing("base"));
    margin-right: -(spacing("base"));

    .modal & {
        padding-bottom: 0;
        padding-top: 0;
    }
}

.productView--quickView {
    .socialLinks-item--print {
        display: none;
    }
}

.productView-product {
    border-bottom: none;
    padding-bottom: 0;
}

.productView-collection {
    margin: 0;
}

.productView-images {
    @include grid-column(12);
    padding-left: spacing("base");
    padding-right: spacing("base");

    @include breakpoint("medium") {
        width: grid-calc(6, $total-columns);
    }
}

.productView-details {
    @include grid-column(12);
    margin-bottom: 0;
    padding-left: spacing("base");
    padding-right: spacing("base");

    @include breakpoint("medium") {
        clear: right;
        float: right;
        width: grid-calc(6, $total-columns);
    }
}

.productView-options {
    margin-bottom: 0;

    .form-radio + .form-option {
        padding: 5px 20px;

        span {
            padding: 0;
        }
    }

    .form-radio:checked + .form-option {
        box-shadow: none;
    }

    #form-action-addToCart {
        text-transform: uppercase;
    }

    .form-wishlist > a {
        height: 40px;
    }

    #wishlist-dropdown > li > input {
        font-family: "Helvetica Neue Light", sans-serif !important;
    }

    #wishlist-dropdown > li > a {
        padding: 1rem 0;
    }
}

.productView-description {
    @include grid-column(12);
    padding-left: spacing("base");
    padding-right: spacing("base");

    @include breakpoint("medium") {
        clear: right;
        float: right;
        width: grid-calc(6, $total-columns);
    }

    .tabs {
        display: none;
    }
}

.productView-sustainability {
    margin: 1rem 0;
}

// ISP recommendations
.isp_related_wrapper {
    .slick-prev::before,
    .slick-next::before {
        background-image: none !important;
    }

    .slick-prev,
    .slick-next {
        display: none !important;
        z-index: 999 !important;

        @include breakpoint("large") {
            display: block !important;
        }
    }

    .slick-prev {
        left: -50px !important;
    }

    .slick-prev:before {
        content: url(../img/slick_prev.png) !important;
    }

    .slick-next {
        right: -50px !important;
    }

    .slick-next:before {
        content: url(../img/slick_next.png) !important;
    }

    .isp_related_title {
        border-bottom: 1px solid #e5e5e5;
        font-weight: bold;
        padding: 10px 0;
        text-align: left;
        text-transform: none;
        margin-bottom: 20px;

        @include breakpoint("medium") {
            padding: 10px;
        }
    }

    img.isp_related_product_image {
        max-height: 100%;
        max-width: 100%;
    }

    .isp_related_product_info,
    .isp_related_product_price {
        margin-top: 0 !important;
        text-align: left !important;
    }

    .isp_add_to_cart_btn,
    .isp_product_quick_view_button {
        display: none !important;
    }
}
