<!DOCTYPE html>
<html class="no-js" lang="{{ locale_name }}">
    <head>
        <title>{{ head.title }}</title>
        {{{ resourceHints }}}
        {{{ head.meta_tags }}}
        {{{ head.config }}}
        {{#block "head"}} {{/block}}

        <link href="{{ head.favicon }}" rel="shortcut icon">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <script>
            {{!-- Change document class from no-js to js so we can detect this in css --}}
            document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
        </script>
        {{!-- Load Lazysizes script ASAP so images will appear --}}
        <script>
            {{!-- Only load visible elements until the onload event fires, after which preload nearby elements. --}}
            window.lazySizesConfig = window.lazySizesConfig || {};
            window.lazySizesConfig.loadMode = 1;
        </script>
        <script async src="{{cdn 'assets/dist/theme-bundle.head_async.js'}}"></script>

        {{ getFontsCollection }}
        {{{stylesheet '/assets/css/theme.css'}}}

        <style type="text/css" media="screen, print">
            @font-face {
                font-family: "Helvetica Neue Medium";
                src: url("{{cdn 'webdav:HelveticaNeueLTStd-Md.ttf'}}");
            }
            @font-face {
                font-family: "Helvetica Neue Light";
                src: url("{{cdn 'webdav:HelveticaNeueLTStd-Lt.ttf'}}");
            }
        </style>

        <link rel="preload" href="https://app.maker.co/enhance/ippolita.js" as="script">
        <script type="text/javascript">!(function(){var e={enhanceId:'ippolita',enhanceTimeout:4e3},t=document.getElementById('js-maker-enhance-style'),n=setTimeout(function(){t.parentElement.removeChild(t),(window.mk_enhance_timeout=!0)},e.enhanceTimeout),a=!1,c=document.createElement('script'),f=window.location.search.match(/mk_experience_preview/)?'?_t='+new Date().getTime():'';(c.src='https://app.maker.co/enhance/'+e.enhanceId+'.js'+f),(c.type='text/javascript'),(c.async='true'),(c.onload=c.onreadystatechange=function(){var e=this.readyState;a||(e&&'complete'!=e&&'loaded'!=e)||((a=!0),clearTimeout(n))});var o=document.getElementsByTagName('script')[0];o.parentNode.insertBefore(c,o)})()</script>

        {{{head.scripts}}}

        {{~inject 'themeSettings' theme_settings}}
        {{~inject 'genericError' (lang 'common.generic_error')}}
        {{~inject 'maintenanceMode' settings.maintenance}}
        {{~inject 'urls' urls}}
        {{~inject 'secureBaseUrl' settings.secure_base_url}}
        {{~inject 'cartId' cart_id}}
        {{~inject 'template' template}}
    </head>
    <body>
        <svg data-src="{{cdn 'img/icon-sprite.svg'}}" class="icons-svg-sprite"></svg>

        {{> components/common/header }}
        {{> components/common/body }}
        {{> components/common/footer }}

        <script>window.__webpack_public_path__ = "{{cdn 'assets/dist/'}}";</script>
        <script src="{{cdn 'assets/dist/theme-bundle.main.js'}}"></script>
        <script>
            {{!-- Exported in app.js --}}
            window.stencilBootstrap("{{page_type}}", {{jsContext}}).load();
        </script>

        {{{footer.scripts}}}
    </body>
</html>
