<!DOCTYPE html>
<html class="no-js" lang="{{ locale_name }}">
    <head>
        <title>{{ head.title }}</title>
        {{{ resourceHints }}}
        {{{ head.meta_tags }}}
        {{{ head.config }}}
        {{#block "head"}} {{/block}}

        <link href="{{ head.favicon }}" rel="shortcut icon">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <script>
            {{!-- Change document class from no-js to js so we can detect this in css --}}
            document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
        </script>
        {{!-- Load Lazysizes script ASAP so images will appear --}}
        <script>
            {{!-- Only load visible elements until the onload event fires, after which preload nearby elements. --}}
            window.lazySizesConfig = window.lazySizesConfig || {};
            window.lazySizesConfig.loadMode = 1;
        </script>
        <script async src="{{cdn 'assets/dist/theme-bundle.head_async.js'}}"></script>

        {{ getFontsCollection }}
        {{{stylesheet '/assets/css/theme.css'}}}

        <style type="text/css" media="screen, print">
            @font-face {
                font-family: "Helvetica Neue Roman";
                src: url("{{cdn 'webdav:HelveticaNeueLTStd-Roman.ttf'}}");
            }
            @font-face {
                font-family: "Helvetica Neue Light";
                src: url("{{cdn 'webdav:HelveticaNeueLTStd-Lt.ttf'}}");
            }
        </style>

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-K5ML24Z');</script>
        <!-- End Google Tag Manager -->

        <link rel="preload" href="https://app.maker.co/enhance/ippolita.js" as="script">
        <style type="text/css" id="js-maker-enhance-style">
            .js-maker-embed:not(.show-draft-editor),
            .productView,
            #isp-related-widget-1 {
                display: none !important;
            }
        </style>
        <script type="text/javascript">!(function(){var e={enhanceId:'ippolita',enhanceTimeout:4e3},t=document.getElementById('js-maker-enhance-style'),n=setTimeout(function(){t.parentElement.removeChild(t),(window.mk_enhance_timeout=!0)},e.enhanceTimeout),a=!1,c=document.createElement('script'),f=window.location.search.match(/mk_experience_preview/)?'?_t='+new Date().getTime():'';(c.src='https://app.maker.co/enhance/'+e.enhanceId+'.js'+f),(c.type='text/javascript'),(c.async='true'),(c.onload=c.onreadystatechange=function(){var e=this.readyState;a||(e&&'complete'!=e&&'loaded'!=e)||((a=!0),clearTimeout(n))});var o=document.getElementsByTagName('script')[0];o.parentNode.insertBefore(c,o)})()</script>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <script>
            // ISP autocomplete, search results and quick view options
            var __isp_options = {
                isp_dropdown_with_product_attributes: '1',
                isp_serp_with_product_attributes: '1',
                isp_dropdown_callback: function(jquery_li_element_html, item_data) {
                    if (!item_data.att) {
                        return jquery_li_element_html;
                    }

                    for (var i = 0; i < item_data.att.length; i++) {
                        if (item_data.att[i][0] == "Collection") {
                            var product_collection = item_data.att[i][1];
                            jquery_li_element_html.find('.as_magento_product_section')
                                .prepend('<div class="as_magento_product_collection">' + product_collection + '</div>');
                            break;
                        }
                    }

                    var product_name = item_data.label;
                    var product_name_clean = product_name.substring(0, product_name.lastIndexOf(" "));
                    jquery_li_element_html.find('.as_magento_product_name').html(product_name_clean);

                    var product_price = item_data.price.slice(0, -3).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    jquery_li_element_html.find('.as_magento_price').html("&#36;" + product_price);

                    return jquery_li_element_html;
                },
                isp_serp_callback: function() {
                    // add plp banners
                    if (!$(".isp_grid_banner1x2").length) {
                        var currentUrl = window.location.href;
                        var targetUrls = [
                            "/bracelets/",
                            "/earrings/",
                            "/gifts-of-color/",
                            "/gifts-of-gold/",
                            "/gifts-of-silver",
                            "/gifts-under-500/",
                            "/gifts-under-1000/",
                            "/gifts-under-2000/",
                            "/necklaces/",
                            "/rings/"
                        ];

                        // look for matching target url
                        var match = null;

                        for (var targetUrl of targetUrls) {
                            if (currentUrl.indexOf(targetUrl) > -1) {
                                match = targetUrl;

                                break;
                            }
                        }

                        // if match found, add banners
                        if (match) {
                            var fileName = match.replaceAll("/", "");

                            $("#isp_search_results_container").prepend('<li class="isp_grid_banner1x2"><div></div></li>');
                            $("#isp_search_results_container").prepend('<li class="isp_grid_banner2x2"><div></div></li>');

                            $(".isp_grid_banner2x2 > div").css("background-image", "url(/content/banners/plp/" + fileName + "-2x2.jpg)");
                            $(".isp_grid_banner1x2 > div").css("background-image", "url(/content/banners/plp/" + fileName + "-1x2.jpg)");
                        }
                    }

                    // format plp products
                    $('.isp_grid_product').each(function(index) {
                        var p_id = $(this).attr('product_id');
                        var product_data = ISP_PRODUCTS[p_id];

                        if (!$(this).has('.isp_product_collection').length) {
                            var product_tag = null;
                            var product_collection = null;

                            for (var i = 0; i < product_data.att.length; i++) {
                                if (product_data.att[i][0] == "Tag") {
                                    product_tag = product_data.att[i][1];
                                }
                                else if (product_data.att[i][0] == "Collection") {
                                    product_collection = product_data.att[i][1];
                                }
                            }

                            if (product_tag) {
                                $(this).find('.isp_product_info').prepend('<h6 class="isp_product_tag">' + product_tag + '</h6>');
                            }

                            $(this).find('.isp_product_info').prepend('<div class="isp_product_collection">' + product_collection + '</div>');

                            var product_name = product_data.l;
                            var product_name_clean = product_name.substring(0, product_name.lastIndexOf(" "));
                            $(this).find('.isp_product_title').html(product_name_clean);

                            var product_price = product_data.p;
                            if (product_price.endsWith(".00")) {
                                product_price = product_price.slice(0, -3);
                            }
                            product_price = product_price.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                            $(this).find('.isp_product_price').html("&#36;" + product_price);

                            product_data.is_clean = true;
                        }
                    });
                },
                isp_serp_quickview_callback: function() {
                    var qv_title = $('.isp_quick_view_title');
                    var p_id = qv_title.attr('product_id');
                    var product_data = ISP_PRODUCTS[p_id];

                    var product_tag = null;
                    var product_collection = null;

                    for (var i = 0; i < product_data.att.length; i++) {
                        if (product_data.att[i][0] == "Tag") {
                            product_tag = product_data.att[i][1];
                        }
                        else if (product_data.att[i][0] == "Collection") {
                            product_collection = product_data.att[i][1];
                        }
                    }

                    $('.isp_quick_view_content_right').prepend('<div class="isp_quick_view_collection">' + product_collection + '</div>');

                    if (product_tag) {
                        $('.isp_quick_view_content_right').prepend('<h6 class="isp_quick_view_tag">' + product_tag + '</h6>');
                    }

                    var product_name = product_data.l;
                    var product_name_clean = product_name.substring(0, product_name.lastIndexOf(" "));
                    qv_title.html('<a href="' + product_data.u + '">' + product_name_clean + '</a>');

                    var product_price = product_data.p;
                    if (product_price.endsWith(".00")) {
                        product_price = product_price.slice(0, -3);
                    }
                    product_price = product_price.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    $('.isp_quick_view_price_wrapper').html("&#36;" + product_price);

                    $('.isp_view_full_details').html("View Full Details");
                }
            };

            // ISP related options
            var isp_related_options = {
                with_product_attributes: true,
                isp_related_callback: function() {
                    $jquery_isp('.isp_related_product').each(function(index) {
                        var p_id = $jquery_isp(this).attr('isp_product_id');
                        var product_data = ISP_RELATED_PRODUCTS[p_id];

                        if (!product_data.is_clean) {
                            for (var i = 0; i < product_data.att.length; i++) {
                                if (product_data.att[i][0] == "Collection") {
                                    var product_collection = product_data.att[i][1];
                                    $jquery_isp(this).find('.isp_related_product_info')
                                        .prepend('<div class="isp_product_collection">' + product_collection + '</div>');
                                    break;
                                }
                            }

                            var product_name = product_data.l;
                            var product_name_clean = product_name.substring(0, product_name.lastIndexOf(" "));
                            $jquery_isp(this).find('.isp_related_product_name').html(product_name_clean);

                            var product_price = product_data.p.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                            $jquery_isp(this).find('.isp_product_price').html("&#36;" + product_price);

                            product_data.is_clean = true;
                        }
                    });
                },
                responsive: [
                    {
                        breakpoint: 3840,
                        settings: {
                            slidesToShow: 5,
                            slidesToScroll: 5,
                            infinite: false
                        }
                    },
                    {
                        breakpoint: 1261,
                        settings: {
                            slidesToShow: 4,
                            slidesToScroll: 4,
                            infinite: false
                        }
                    },
                    {
                        breakpoint: 801,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2,
                            infinite: false
                        }
                    }
                ]
            };
        </script>

        {{{head.scripts}}}

        {{~inject 'themeSettings' theme_settings}}
        {{~inject 'genericError' (lang 'common.generic_error')}}
        {{~inject 'maintenanceMode' settings.maintenance}}
        {{~inject 'urls' urls}}
        {{~inject 'secureBaseUrl' settings.secure_base_url}}
        {{~inject 'cartId' cart_id}}
        {{~inject 'template' template}}
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K5ML24Z"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        <svg data-src="{{cdn 'img/icon-sprite.svg'}}" class="icons-svg-sprite"></svg>

        {{> components/common/header }}
        {{> components/common/body }}
        {{> components/common/footer }}

        <script>window.__webpack_public_path__ = "{{cdn 'assets/dist/'}}";</script>
        <script src="{{cdn 'assets/dist/theme-bundle.main.js'}}"></script>
        <script>
            {{!-- Exported in app.js --}}
            window.stencilBootstrap("{{page_type}}", {{jsContext}}).load();
        </script>

        {{{footer.scripts}}}
    </body>
</html>
