<ul class="productGrid">
    {{#each products}}
    <li class="product">
            {{>components/products/card settings=../settings show_compare=../show_compare show_rating=../settings.show_product_rating theme_settings=../theme_settings customer=../customer event=../event position=(add @index 1)}}
    </li>
    {{/each}}
</ul>
<script type="text/javascript">
    var productCardTitles = document.querySelectorAll(".card-title > a");

    // clean product card titles
    if (productCardTitles.length) {
        for (var i = 0; i < productCardTitles.length; i++) {
            var ogTitle = productCardTitles[i].innerHTML;
            
            if (ogTitle.includes(" (")) {
                var cleanTitle = ogTitle.substring(0, ogTitle.indexOf(' ('));

                productCardTitles[i].innerHTML = cleanTitle;
            }
        }
    }
</script
