<script type="text/javascript">
    // realign and clean breadcrumbs
    (function() {
        var breadCrumbs = document.querySelector(".breadcrumbs");
        breadCrumbs.style.textAlign = "left";

        var productNameContainer = document.querySelector(".breadcrumb:last-child .breadcrumb-label");
        var productName = productNameContainer.innerHTML;

        productNameContainer.innerHTML = productName.substring(0, productName.lastIndexOf(" "));
    })();
</script>

<div class="js-maker-enhance-static-mount" id="js-maker-static-enhance-v1-e379765a-8fd3-11ea-bc55-0242ac130003-microsite" style="height: auto; width: 100%;" data-microsite></div>

<div class="productView" {{#if settings.data_tag_enabled}} data-event-type="product" data-entity-id="{{product.id}}" data-name="{{product.title}}" data-product-category="{{#each product.category}}{{#if @last}}{{this}}{{else}}{{this}}, {{/if}}{{/each}}" data-product-brand="{{product.brand.name}}" data-product-price="{{#if product.price.with_tax}}{{product.price.with_tax.value}}{{else}}{{product.price.without_tax.value}}{{/if}}" data-product-variant="single-product-option"{{/if}}>
{{#each product.reviews.messages}}
        {{#if error}}
            {{> components/common/alert-error error}}
        {{/if}}
        {{#if success}}
            {{> components/common/alert-success success}}
        {{/if}}
    {{/each}}

    <section class="productView-details">
        <div class="productView-product">
            <h6 class="productView-tag">
                {{#filter product.custom_fields "Tag" property='name' }}
                    {{value}}
                {{/filter}}
            </h6>
            <a class="productView-collection">
                {{#filter product.custom_fields "Collection" property='name' }}
                    {{value}}
                {{/filter}}
            </a>
            <script type="text/javascript">
                // add collection link
                (function() {
                    var productCollection = document.querySelector(".productView .productView-collection");

                    if (productCollection) {
                        var collection = productCollection.innerHTML.trim();
                        var material = "{{#filter product.custom_fields 'Material' property='name' }}{{value}}{{/filter}}";

                        if (collection == "CLASSICO") {
                            if (material == "GOLD") {
                                productCollection.href = "/collections/gold-classico/";
                            }
                            else if (material == "SILVER") {
                                productCollection.href = "/collections/silver-classico/";
                            }
                            else {
                                productCollection.href = "/collections/chimera/";
                            }
                        }
                        else if (collection == "LOLLIPOP®") {
                            if (material == "GOLD") {
                                productCollection.href = "/collections/gold-lollipop/";
                            }
                            else {
                                productCollection.href = "/collections/silver-lollipop/";
                            }
                        }
                        else if (collection == "ROCK CANDY®") {
                            if (material == "GOLD") {
                                productCollection.href = "/collections/gold-rock-candy/";
                            }
                            else {
                                productCollection.href = "/collections/silver-rock-candy/";
                            }
                        }
                        else if (collection == "POLISHED ROCK CANDY") {
                            productCollection.href = "/collections/polished-rock-candy/";
                        }
                        else if (collection == "ATELIER") {
                            productCollection.href = "/collections/one-of-a-kind/";
                        }
                        else if (collection == "IPPOLITA Charms") {
                            productCollection.href = "/collections/ippolita-charms/";
                        }
                        else {
                            productCollection.href = "/collections/" + collection.toLowerCase() + "/";
                        }
                    }
                })();
            </script>
            <h1 class="productView-title" {{#if schema}}itemprop="name"{{/if}}>{{product.title}}</h1>
            <script type="text/javascript">
                // clean pdp product titles
                (function() {
                    var productTitle = document.querySelector(".productView .productView-title");

                    if (productTitle) {
                        var ogTitle = productTitle.innerHTML;
                        var cleanTitle = ogTitle.substring(0, ogTitle.lastIndexOf(" "));

                        productTitle.innerHTML = cleanTitle;
                    }
                })();
            </script>
            {{#if product.brand}}
                <h2 class="productView-brand"{{#if schema}} itemprop="brand" itemscope itemtype="http://schema.org/Brand"{{/if}}>
                    <a href="{{product.brand.url}}"{{#if schema}} itemprop="url"{{/if}}><span{{#if schema}} itemprop="name"{{/if}}>{{product.brand.name}}</span></a>
                </h2>
            {{/if}}
            {{#if product.call_for_price}}
                <p class="productView-price">
                    <span>{{product.call_for_price}}</span>
                </p>
            {{/if}}
            <div class="productView-price">
                {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                    {{> components/products/price price=product.price schema_org=schema}}
                {{else}}
                    {{> components/common/login-for-pricing}}
                {{/or}}
            </div>
            {{{region name="product_below_price"}}}
            <script type="text/javascript">
                // clean pdp product prices
                (function() {
                    var productPriceContainer = document.querySelector(".productView .productView-price");
                    var productPrice = document.querySelector(".productView .price--withoutTax");

                    if (productPriceContainer && productPrice) {
                        var ogPrice = productPrice.innerHTML;
                        var cleanPrice = ogPrice.slice(0, -3);

                        productPriceContainer.innerHTML = cleanPrice;
                    }
                })();
            </script>
            {{product.detail_messages}}
<!--
            <dl class="productView-info">

                {{#if schema}}
                    {{#if product.mpn}}<meta itemprop="mpn" content="{{product.mpn}}" />{{/if}}
                    {{#if product.gtin}}<meta itemprop="gtin" content="{{product.gtin}}" />{{/if}}
                {{/if}}
                {{#if product.condition}}
                    <dt class="productView-info-name">{{lang 'products.condition'}}</dt>
                    <dd class="productView-info-value">{{product.condition}}</dd>
                {{/if}}
                {{#if product.availability}}
                    <dt class="productView-info-name">{{lang 'products.availability'}}</dt>
                    <dd class="productView-info-value">{{product.availability}}</dd>
                {{/if}}
                {{#all product.weight theme_settings.show_product_weight}}
                    <dt class="productView-info-name">{{lang 'products.weight'}}</dt>
                    <dd class="productView-info-value" data-product-weight>{{product.weight}}</dd>
                {{/all}}
                {{#all product.width product.height product.depth theme_settings.show_product_dimensions}}
                    <dt class="productView-info-name">{{lang 'products.width'}}</dt>
                    <dd class="productView-info-value" data-product-width>
                        {{product.width}}
                        {{#if settings.measurements.length '==' 'Centimeters'}}
                        ({{lang 'products.measurement.metric'}})
                        {{else}}
                        ({{lang 'products.measurement.imperial'}})
                        {{/if}}
                    </dd>
                    <dt class="productView-info-name">{{lang 'products.height'}}</dt>
                    <dd class="productView-info-value" data-product-height>
                        {{product.height}}
                        {{#if settings.measurements.length '==' 'Centimeters'}}
                        ({{lang 'products.measurement.metric'}})
                        {{else}}
                        ({{lang 'products.measurement.imperial'}})
                        {{/if}}
                    </dd>
                    <dt class="productView-info-name">{{lang 'products.depth'}}</dt>
                    <dd class="productView-info-value" data-product-depth>
                        {{product.depth}}
                        {{#if settings.measurements.length '==' 'Centimeters'}}
                        ({{lang 'products.measurement.metric'}})
                        {{else}}
                        ({{lang 'products.measurement.imperial'}})
                        {{/if}}
                    </dd>
                {{/all}}
                {{#if product.min_purchase_quantity}}
                    <dt class="productView-info-name">{{lang 'products.min_purchase_quantity'}}</dt>
                    <dd class="productView-info-value">{{lang 'products.purchase_units' quantity=product.min_purchase_quantity}}</dd>
                {{/if}}
                {{#if product.max_purchase_quantity}}
                    <dt class="productView-info-name">{{lang 'products.max_purchase_quantity'}}</dt>
                    <dd class="productView-info-value">{{lang 'products.purchase_units' quantity=product.max_purchase_quantity}}</dd>
                {{/if}}
                {{#if product.gift_wrapping_available}}
                    <dt class="productView-info-name">{{lang 'products.gift_wrapping'}}</dt>
                    <dd class="productView-info-value">{{lang 'products.gift_wrapping_available'}}</dd>
                {{/if}}
                {{#if product.shipping}}
                    {{#if product.shipping.calculated}}
                        <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                        <dd class="productView-info-value">{{lang 'products.shipping_calculated'}}</dd>
                    {{else}}
                        {{#if product.shipping.price.value '===' 0}}
                            <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                            <dd class="productView-info-value">{{lang 'products.shipping_free'}}</dd>
                        {{else}}
                            <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                            <dd class="productView-info-value">{{lang 'products.shipping_fixed' amount=product.shipping.price.formatted}}</dd>
                        {{/if}}
                    {{/if}}
                {{/if}}

                {{#if settings.bulk_discount_enabled}}
                    <div class="productView-info-bulkPricing">
                        {{> components/products/bulk-discount-rates bulk_discount_rates=product.bulk_discount_rates}}
                    </div>
                {{/if}}

            </dl>
-->
        </div>
    </section>

    <section class="productView-images" data-image-gallery>
        {{!--
            Note that these image sizes are coupled to image sizes used in /assets/js/theme/common/product-details.js
            for variant/rule image replacement
        --}}
        <figure class="productView-image"
                data-image-gallery-main
                {{#if product.main_image}}
                data-zoom-image="{{getImageSrcset product.main_image (cdn theme_settings.default_image_product) 1x=theme_settings.zoom_size }}"
                {{/if}}
                >
            <div class="productView-img-container">
                {{!-- Remove the surrounding a-element if there is no main image. --}}
                {{#if product.main_image}}
                    <a href="{{getImageSrcset product.main_image (cdn theme_settings.default_image_product) 1x=theme_settings.zoom_size}}"
                        target="_blank"{{#if schema}} itemprop="image"{{/if}}>
                {{/if}}
                {{> components/common/responsive-img
                    image=product.main_image
                    class="productView-image--default"
                    fallback_size=theme_settings.product_size
                    lazyload=theme_settings.lazyload_mode
                    default_image=theme_settings.default_image_product
                    otherAttributes="data-main-image"
                }}
                {{!-- Remove the surrounding a-element if there is no main image. --}}
                {{#if product.main_image}}
                    </a>
                {{/if}}
            </div>
        </figure>
        <ul class="productView-thumbnails"{{#gt product.images.length 5}} data-slick='{
                "infinite": false,
                "mobileFirst": true,
                "slidesToShow": 5,
                "slidesToScroll": 1
            }'{{/gt}}>
            {{#each product.images}}
                <li class="productView-thumbnail">
                    <a
                        class="productView-thumbnail-link"
                        href="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.zoom_size}}"
                        data-image-gallery-item
                        data-image-gallery-new-image-url="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.product_size}}"
                        data-image-gallery-new-image-srcset="{{getImageSrcset this use_default_sizes=true}}"
                        data-image-gallery-zoom-image-url="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.zoom_size}}"
                    >
                    {{> components/common/responsive-img
                        image=this
                        fallback_size=../theme_settings.productview_thumb_size
                        lazyload=../theme_settings.lazyload_mode
                    }}
                    </a>
                </li>
            {{/each}}
        </ul>
    </section>

    <section class="productView-details">
        <ul class="productView-variants"></ul>
        <script type="text/javascript" async>
            // populate product variants
            (async function() {
                var productVariantsList = document.querySelector(".productView .productView-variants");

                var warranty = "{{product.warranty}}";
                var variants = warranty.split(";");

                if (variants.length > 1) {
                    for (var variant of variants) {
                        var variantWords = variant.split(",");
                        var color = variantWords[0];
                        var src = variantWords[1];
                        var url = variantWords[2];

                        var swatch_name = color.toLowerCase().replaceAll(" ", "-");
                        var swatch_path = "/content/swatches/" + swatch_name + ".png";

                        var a = document.createElement("a");
                        a.href = url;
                        a.style.background = "url(" + swatch_path + ") center";

                        a.onmouseover = function(event) {
                            event.target.previousSibling.style.display = "block";
                        }
                        a.onmouseout = function(event) {
                            event.target.previousSibling.style.display = "none";
                        }

                        var popup = document.createElement("div");
                        popup.style.background = "url(/product_images/" + src + ") center center / auto 100% no-repeat";
                        popup.style.backgroundColor = "#fff"

                        var li = document.createElement("li");
                        li.classList.add("productView-variant");
                        li.appendChild(popup);
                        li.appendChild(a);

                        productVariantsList.appendChild(li);
                    }
                }
            })();
        </script>
        <div class="productView-options">
            {{#if product.release_date }}
                <p>{{product.release_date}}</p>
            {{/if}}
            <form class="form" method="post" action="{{product.cart_url}}" enctype="multipart/form-data"
                  data-cart-item-add>
                <input type="hidden" name="action" value="add">
                <input type="hidden" name="product_id" value="{{product.id}}"/>
                <div data-product-option-change style="display:none;">
                    {{#each product.options}}
                        {{{dynamicComponent 'components/products/options'}}}
                    {{/each}}
                </div>
                <div class="size-guide-action-container">
                    <a class="size-guide-action" href="#size-guide" data-reveal-id="size-guide">Size Guide</a>
                </div>
                <div class="form-field form-field--stock{{#unless product.stock_level}} u-hiddenVisually{{/unless}}">
                    <label class="form-label form-label--alternate">
                        {{lang 'products.current_stock'}}
                        <span data-product-stock>{{product.stock_level}}</span>
                    </label>
                </div>
                {{#if product.can_purchase}}
                    {{> components/products/add-to-cart}}
                {{/if}}
                {{#if product.out_of_stock}}
                    {{#if product.out_of_stock_message}}
                        {{> components/common/alert-error product.out_of_stock_message}}
                    {{else}}
                        {{> components/common/alert-error (lang 'products.sold_out')}}
                    {{/if}}
                {{/if}}
            </form>
            {{#if settings.show_wishlist}}
                {{> components/common/wishlist-dropdown}}
            {{/if}}
        </div>
    </section>

    <article class="productView-description"{{#if schema}} itemprop="description"{{/if}}>
        <div class="productView-sku">
            <span>STYLE# {{#replace "-PA" product.sku}}{{else}}{{{product.sku}}}{{/replace}}
        </div>
        {{#if theme_settings.show_product_details_tabs}}
            {{> components/products/description-tabs}}
        {{else}}
            {{> components/products/description}}
        {{/if}}
        <div class="productView-shipping">
            <span>Complimentary 2-Day Shipping & Returns</span>
        </div>
        <div class="productView-sustainability">
            <a href="/sustainability">Our Commitment to Sustainability</a>
        </div>

        {{> components/common/share}}
    </article>
</div>

<div id="previewModal" class="modal modal--large" data-reveal>
    <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">
        <span aria-hidden="true">&#215;</span>
    </a>
    <div class="modal-content"></div>
    <div class="loadingOverlay"></div>
</div>

<div class="js-maker-enhance-static-mount" id="js-maker-static-enhance-v1-88ff8783-1715-42ee-9cc2-ce2e17da09a5" style="height: auto; width: 100%;"></div>
